.compose {
  padding: 20px;
  position: relative;
  input {
    width: 100%;
    border: 0px;
    font-size: 17px;
    padding-right: 80px;
  }
  .compose-dock .dock {
 position: absolute;
    right: 25px;
    top: 20px;
  }
  .compose-dock img {
    width: 20px;
    margin-left:12px;
    opacity: 0.2;
    &:hover {
      opacity: 0.5;
    }
  }
}
